nav    {/* шапка, главное и т д */
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 2;
    
    background: #212121;
}
header {
    position: relative;
    height: 50px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;

    
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    /* or 100% */
    font-style: normal;

    color: #FFFFFF;
    text-decoration: none;


}

 .menu .menu_item {
    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 45px;
}
.subheader {
    /* Под шапкой */
    margin-top: 50px;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
 /*    position: relative;
    z-index: 2; */
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    text-decoration: none;
    border-bottom: none;
    max-width: 100%;

}
.subheader .subheader_official {
    margin-top: 6px;

    opacity: 0.5;
    font-size: 13px;
    /* identical to box height, or 523% */
    font-weight: 400;
    color: #FFFFFF;
}
.subheader_call {  /* Звоните нам */
    display: inline-block;
    margin-top: 16px;
    text-align:right;
    max-width: 100%;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */


    color: #FFFFFF;
}

.subheader_phone { /* Номер телефона */
    display: inline-block;
    margin-top: 1px;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: right;
    text-transform: uppercase;
    display: inline-block;
    text-decoration:none;
    cursor: pointer white;


}
a:hover {
    text-decoration:#202020;
    color: rgb(74, 74, 74);
    border-bottom: 2px solid white;

}
.subheader .subheader_vk_insta {
    display: flex;
    justify-content: left;
    border-bottom: none;
}
.subheader .logo_vk {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 0 auto;
    text-decoration: none;
    border-bottom: none;
    
}
.subheader .logo_insta {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    margin-top: 0 auto;
    margin-left: 10px;
    text-decoration: none;


}



.subheader .subheader_btn {
    /* Кнопка заказать звонок */
    display: block;
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 450;
    text-transform: uppercase;





}
.promo {
    min-height: 800px;
    background: url('../img/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
    /* transform: translateY(-84px);
    z-index: 1; */

}
.promo .promo_header {
    /* КОМПАНИЯ UBER PARTNERS! */
    font-weight: 700;
    font-size: 60px;
    /* or 40% */
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;

}
.promo .promo_subheader {
    /*  ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО! */
    font-weight: 700;
    font-size: 36px;
    /* or 40% */
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}
.promo .promo_dscr{
    /*  Компания UBER  динамически развивающаяся. */
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    text-align: center;
    margin: 0;
    margin-top: 23px;
    color: #FFFFFF;
    font-weight: 400;
}
.promo .promo_btn   {
    display: block;
    margin: 118px auto 0;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-size: 18px;

    color: #FFFFFF;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    line-height: 63px;
    text-transform: uppercase;
}



.work {

    display: block;
    min-height: 864px;
 
}


.work .work_btn , .market .market_btn {/* Преимущества и возможности*/

    display: block;
    margin: 16px auto 0;

    font-weight: 400;
    background-color:rgba(0, 0, 0, 0.904);
    font-size: 11px ;
    width: 115px;
    height: 27px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    border-color:white;
    text-decoration: none;


}
.work .work_uber {
    /* 8 причин начать работать с нами */
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    color: #222222;
    display: block;
    margin: 0;
    margin-top: 30px;

}

.row .reasons_block {
    margin-top: 35px auto;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 35px;

}
.row .reasons_block .reasons_round {
    width: 113px;
    height: 113px;
   background-color:#1eacc7;
   border-radius: 100%;
   margin-right: 26px;
   display: flex;
   justify-content: center;

}
.row .reasons_block .reasons_round img{
    width: 63px;
    height: 67px;
    display: block;
    margin: 0 auto;
    margin: 20px 5px 5px 5px;
}
.row .reasons_block .reasons_descr {
    width: 343px;
}
.row .reasons_block .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}
.row.reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
.market {
/* Cекция - Мобильные приложения  */
    display: block;
    min-height: 900px;
    
    
}
.market .market_btn { /*  Возможности */
    margin-top: 150px;
}
.market .market_phone /* Мобильное приложение Uber */{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    color: #222222;
    font-size: 38px;
    line-height: 48px;
}
.market .market_phone_more {
    font-size: 19px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}
.row .phone .phone_img {
    margin-top: 35px auto;
    display: flex;
    justify-content: center;
}

.mobile{
    background: url('../img/uber_bg.png')
}